.listcontainer{
    display: flex;
    gap: 10px;
}

.listcontainer div{
    flex: 1;
}

.card{
    background-color: white;
    color: black;
    display: flex;
    font-size: small;
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 200px;
    padding: 20px;
}

.card p{
    margin: 0%;
}

.light{
    color: gray;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 100px !important;
}

.stars {
  font-size: 35px;
  margin: 15px 0;
}

.star {
  cursor: pointer;
  color: #ccc;
  margin: 5px;
}

.star.selected {
  color: gold;
}

.submit-rating,
.cancel-rating {
  margin-top: 10px;
  padding: 8px 15px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.submit-rating {
  background: #4caf50;
  color: white;
}

.cancel-rating {
  background: #f44336;
  color: white;
}
